<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/Profile.png" width="156px" height="142" alt="">
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>

                    <div class="left-icons">
                        <a href="#"><img src="icon/Dribbble.svg" class="icon_1" alt=""></a>
                        <a href="#"><img src="icon/Youtube.svg" class="icon_1" alt=""></a>
                        <a href="#"><img src="icon/Facebook.svg" class="icon_1" alt=""></a>
                        <a href="#"><img src="icon/Instagram.svg" class="icon_1" alt=""></a>
                        <a href="#"><img src="icon/Linkeding.svg" class="icon_1" alt=""></a>
                        <a href="#"><img src="icon/Twitter.svg" class="icon_1" alt=""></a>
                    </div>
                </div>

                <div class="marginer"></div>

                <div class="left_2">
                    <p><span class="tag">Age:</span> <%=user.age%></p>
                    <p><span class="tag">Residence:</span><%=user.residence%></p>
                    <p><span class="tag">Freelance:</span> <span class="available">Available</span></p>
                    <p><span class="tag">Address:</span><%=user.address%></p>
                </div>

                <div class="marginer"></div>

                <div class="left_3">
                    <!-- <h3><%=user.languages%></h3>
                    <%=user.languages%> -->
                    <p>Uzbek <span class="progress"><span style="width:100%"></span></span></p>
                    <p>English <span class="progress"><span style="width:80%"></span></span></p>
                    <p>Korean <span class="progress"><span style="width:60%"></span></span></p>
                </div>

                <div class="marginer"></div>

                <div class="left_4">
                    <h3>Skills</h3>
                    <p>Html <span class="progress"><span style="width:90%"></span></span></p>
                    <p>CSS <span class="progress"><span style="width:85%"></span></span></p>
                    <p>Js <span class="progress"><span style="width:80%"></span></span></p>
                    <p>NodeJS <span class="progress"><span style="width:75%"></span></span></p> 
                    <p>Python <span class="progress"><span style="width:85%"></span></span></p>
                    <div class="marginer"></div>
                 </div>
                <div class="left_5">
                    <h3>Extra Skills</h3>
                    <ul>
                        <li>Bootstrap</li>
                        <li>Stylus, Sass, Less</li>
                        <li>Gulp, Webpack, Grunt</li>
                        <li>GIT Knowledge</li>
                    </ul>
                </div>
            </div> <div class="midd_frame">
                <div class="hero">
                    <div class="hero-text">
                        <h1><%=user.profession%></h1>
                        <p><%=user.service_desc%></p>
                        <button class="hire-btn">HIRE ME →</button>
                    </div>
                  <div class="mid_img">
                        <img src="public/author/images/Profile2.jpg" width="156px" height="142" alt="">
                    </div>
                </div>

                <div class="services">
                    <h2>My Services</h2>
                    <p>Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor 
                        Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit. 
                        Lorem Ipsum</p>

                    <div class="service-grid">
                        <div class="service-card">
                            <img src="icon/webdev.svg" alt="Web Dev Icon">
                            <h3>Web Development</h3>
                            <p>Blog, E-Commerce</p>
                        </div>
                        <div class="service-card">
                            <img src="icon/uiux.svg" alt="UI/UX Icon">
                            <h3>UI/UX Design</h3>
                            <p>Mobile App, Website Design</p>
                        </div>
                        <div class="service-card">
                            <img src="icon/sound.svg" alt="Sound Icon">
                            <h3>Sound Design</h3>
                            <p>Voice Over, Beat Making</p>
                        </div>
                        <div class="service-card">
                            <img src="icon/game.svg" alt="Game Icon">
                            <h3>Game Design</h3>
                            <p>Character Design, Props & Objects</p>
                        </div>
                        <div class="service-card">
                            <img src="icon/photo.svg" alt="Photo Icon">
                            <h3>Photography</h3>
                            <p>Portrait, Product Photography</p>
                        </div>
                        <div class="service-card">
                            <img src="icon/ads.svg" alt="Ads Icon">
                            <h3>Advertising</h3>
                            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. 
                                Vitae Nulla Diam In Ac Dictum A Urna Viverra Morbi.</p>
                            <a href="#" class="order-btn">ORDER NOW →</a>
                        </div>
                    </div>
                </div>

                <section class="price-plans">
                    <h2>Price Plans</h2>
                    <p class="plan-intro">Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit.</p>
                    <div class="plans-grid">
                        <div class="plan-card silver">
                            <h3>Silver</h3>
                            <p class="price-amount">$0.00 <span class="price-period">/hour</span></p>
                            <p class="plan-desc">For Most Businesses That Want To Optimize Web Queries</p>
                            <ul class="features">
                                <li><i class="fa fa-check-circle"></i> UI Design</li>
                                <li><i class="fa fa-check-circle"></i> Web Development</li>
                                <li><i class="fa fa-check-circle"></i> Logo Design</li>
                                <li><i class="fa fa-check-circle"></i> Seo Optimization</li>
                                <li class="disabled"><i class="fa fa-times-circle"></i> Wordpress Integration</li>
                                <li class="disabled"><i class="fa fa-times-circle"></i> 1 Websites</li>
                                <li class="disabled"><i class="fa fa-times-circle"></i> Unlimited User</li>
                                <li class="disabled"><i class="fa fa-times-circle"></i> 20 GB Bandwidth</li>
                            </ul>
                            <button class="order-btn">ORDER NOW →</button>
                        </div>
                        <div class="plan-card gold">
                            <span class="most-popular">Most Popular</span>
                            <h3>Gold</h3>
                            <p class="price-amount">$50.00 <span class="price-period">/hour</span></p>
                            <p class="plan-desc">For Most Businesses That Want To Optimize Web Queries</p>
                            <ul class="features">
                                <li><i class="fa fa-check-circle"></i> UI Design</li>
                                <li><i class="fa fa-check-circle"></i> Web Development</li>
                                <li><i class="fa fa-check-circle"></i> Logo Design</li>
                                <li><i class="fa fa-check-circle"></i> Seo Optimization</li>
                                <li><i class="fa fa-check-circle"></i> Wordpress Integration</li>
                                <li><i class="fa fa-check-circle"></i> 1 Websites</li>
                                <li><i class="fa fa-check-circle"></i> Unlimited User</li>
                                <li><i class="fa fa-check-circle"></i> 20 GB Bandwidth</li>
                            </ul>
                            <button class="order-btn">ORDER NOW →</button>
                        </div>
                        <div class="plan-card dimond">
                            <h3>Dimond</h3>
                            <p class="price-amount">$80.00 <span class="price-period">/hour</span></p>
                            <p class="plan-desc">For Most Businesses That Want To Optimize Web Queries</p>
                            <ul class="features">
                                <li><i class="fa fa-check-circle"></i> UI Design</li>
                                <li><i class="fa fa-check-circle"></i> Web Development</li>
                                <li><i class="fa fa-check-circle"></i> Logo Design</li>
                                <li><i class="fa fa-check-circle"></i> Seo Optimization</li>
                                <li><i class="fa fa-check-circle"></i> Wordpress Integration</li>
                                <li><i class="fa fa-check-circle"></i> 5 Websites</li>
                                <li><i class="fa fa-check-circle"></i> Unlimited User</li>
                                <li><i class="fa fa-check-circle"></i> 20 GB Bandwidth</li>
                            </ul>
                            <button class="order-btn">ORDER NOW →</button>
                        </div>
                    </div>
                </section>

                <section class="recommendations">
                    <h2>Recommendations</h2>
                    <p class="recommendation-intro">Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit.</p>
                    <div class="recommendations-grid">
                        <div class="rec-card">
                            <div class="stars">★★★★★</div>
                            <p>Great Quality!</p>
                            <p class="rec-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. Morbi donec amet...</p>
                            <div class="rec-footer">
                                <img src="path/to/james-gouse.png" alt="James Gouse">
                                <div class="rec-info">
                                    <p class="rec-name">James Gouse</p>
                                    <p class="rec-job">Graphic Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="rec-card">
                            <div class="stars">★★★★★</div>
                            <p>Amazing Work!</p>
                            <p class="rec-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. Morbi donec amet...</p>
                            <div class="rec-footer">
                                <img src="path/to/tiana-philips.png" alt="Tiana Philips">
                                <div class="rec-info">
                                    <p class="rec-name">Tiana Philips</p>
                                    <p class="rec-job">Photographer</p>
                                </div>
                            </div>
                        </div>
                        <div class="rec-card">
                            <div class="stars">★★★★★</div>
                            <p>Great Quality!</p>
                            <p class="rec-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. Morbi donec amet...</p>
                            <div class="rec-footer">
                                <img src="path/to/faian-westervelt.png" alt="Faian Westervelt">
                                <div class="rec-info">
                                    <p class="rec-name">Faian Westervelt</p>
                                    <p class="rec-job">Business Man</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <div class="right_frame">
                <ul class="nav-icons">
                    <li class="active"><i class="fa fa-home"></i></li>
                    <li><i class="fa fa-code"></i></li>
                    <li><i class="fa fa-user"></i></li>
                    <li><i class="fa fa-print"></i></li>
                    <li><i class="fa fa-square"></i></li>
                </ul>
            </div>

        </div> 
    </div> 
</body>
</html>